@import '_normalize.css';
/*Grid system*/
/* Base Styles */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 40px;
}

ul {
  list-style: none;
}

p {
  color: #5a5a5a;
}

h4 {
  font-weight: 100;
}

.grid__col {
  color: #5a5a5a;
}
.grid__col--2.theme__colors {
  background: #c8bccc;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--3.theme__colors {
  background: #7ee6fd;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--4.theme__colors {
  background: #88d9a0;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--5.theme__colors {
  background: #3fabca;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--6.theme__colors {
  background: #ec9fa3;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--7.theme__colors {
  background: #fd9f85;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--8.theme__colors {
  background: #fd9f85;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--9.theme__colors {
  background: #fd9f85;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}
.grid__col--12.theme__colors {
  background: #80e8d1;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: 20px auto;
}

[class^=grid__col] {
  display: flex;
  flex-direction: column;
}

[class^=grid__col]:first-of-type {
  margin-top: 50px;
}

.card > p {
  text-align: left;
  line-height: 2em;
}
.headline--primary {
  color: #58e1c1;
}

.blockquote {
  border-left: 10px solid #58e1c1;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 1.5em;
  font-size: 1.3em;
}

@media screen and (min-width: 769px) {
  .grid__row:first-of-type, ul {
    display: flex;
  }
  .grid__row:first-of-type ul, ul ul {
    float: right;
  }
}
.grid__row:first-of-type li, ul li {
  text-align: center;
}
.grid__row:first-of-type li a, ul li a {
  text-decoration: none;
  display: block;
  margin: 5px;
  padding: 10px;
  color: #5a5a5a;
}
.grid__row:first-of-type li a:hover, ul li a:hover {
  background: #58e1c1;
  color: #fff;
  color: 25px;
}

@media screen and (min-width: 769px) {
  .grid__row:first-of-type {
    justify-content: space-between;
  }
}

.img--logo {
  display: block;
  margin: 0 auto;
}
.img--avatar, .img--frame {
  width: 200px;
  height: 200px;
  align-self: center;
  margin: 10px 0;
}
.img--frame:first-child {
  border: 1px solid silver;
  padding: 10px;
}

.btn--default.theme__colors {
  background: #58e1c1;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.btn--success.theme__colors {
  background: #63cc82;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.btn--error.theme__colors {
  background: #e4757e;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.btn--warning.theme__colors {
  background: #fd7856;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.btn--info.theme__colors {
  background: #927bc1;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label--hidden {
  display: none;
}
.form__input {
  padding: 10px;
  border: 0;
  border-bottom: 7px solid #58e1c1;
  margin: 5px;
  display: flex;
}
/*Grid system*/
.card a {
  color: #51ddfc;
  text-decoration: none;
  font-weight: 200;
}

/*# sourceMappingURL=styles.css.map */
