@mixin flexy($display: null, $direction: null,$alignment:null) {
    display:$display;
    flex-direction: $direction;
    @content;
}
@mixin  roundy($color:null, $corners:null) {
    color:$color;
    border-radius: $corners;
}
@mixin spacer($margin:null, $padding:null){
    margin:$margin;
    padding:$padding;
    
}
@mixin blockquote($color){
    border:50px left $color;
}
@mixin alignment($position){
    text-align: $position;
}
@mixin themes($map, $text:null,$typecase:null){
    @each $theme, $color in $map {
        &--#{$theme}.theme__colors{
            background:$color;
            border:0;
            @include spacer($margin:7px , $padding:10px);
            @include roundy($corners:5px);
            @content;
            color:$text;
            text-transform: $typecase;
            flex-grow:1;
        }
    }
 }
