$color-primary      :   #58e1c1;
$color-secondary    : #51ddfc;
$color-text         : #5a5a5a;
$white              : #fff;



// font variables
$font-primary       :  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//breakpoints 

$medium             : 769px;

//Images url

$logo               :"../utilites/scss/images/logo.png";

//Buttons

$buttons : (
    default : $color-primary,
    success : #63cc82,
    error   : #e4757e,
    warning : #fd7856,
    info    : #927bc1,
);

/*Grid system*/
$grids : (
    col--2    : #c8bccc,
    col--3  : #7ee6fd,
    col--4  : #88d9a0,
    col--5  : #3fabca,
    col--6  : #ec9fa3,
    col--7  : #fd9f85,
)