$color-primary      :   #58e1c1;
$color-secondary    : #51ddfc;
$color-text         : #5a5a5a;
$white              : #fff;



// font variables
$font-primary       :  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//breakpoints 

$medium             : 769px;

//Images url

$logo               :"../utilites/scss/images/logo.png";

//Buttons

$buttons : (
    default : $color-primary,
    success : #63cc82,
    error   : #e4757e,
    warning : #fd7856,
    info    : #927bc1,
);

/*Grid system*/
$grids : (
    2    : #c8bccc,
    3  : #deb2ee,
    4  : $color-secondary,
    5  : #88d9a0,
    6  : #3fabca,
    7  : #ec9fa3,
    8  : #fd9f85,
    9  : #fd9f85,
    12 : $color-primary,
)