.btn{
    @include themes($buttons, $text:white, $typecase:uppercase);
}
[class^='btn--'] {
    // margin-left: em(30px);
    align-self:stretch;
    margin-right: em(40px);
    width: 100%;
    &:last-of-type {
      margin-right: 0;
    }
    @media screen and (min-width:$breakpoint-l){
        
    }
  }
.grid__col--12{
    @media screen and (min-width:$breakpoint-l){
        display:flex;
    }
}