.btn{
    @include themes($buttons, $text:white, $typecase:uppercase);
}
[class*="btn--"]{
    display: flex;
    flex-direction: row;
    @media screen and (min-width: $breakpoint-l){
        display: flex;
    }
   .grid__col--12 &{
       @include flexy($display:flex);
       border:2px solid red;
   }
}

