.form{
     @include flexy($display:flex, $direction:column);
    &__label--hidden{
        display: none;
    }
    &__input{
        padding:10px;
        border:0;
        border-bottom:7px solid $color-primary;
        @include spacer($margin : 5px);
        display:flex;
    }
    button {
        background:map-get($buttons , 2 );
    }
}