.container{
    width: 90%;
    margin:20px auto;
    @media screen and (min-width:$breakpoint-l) {
        width: $breakpoint-l;
    }
}
.grid__col{
        @include themes($grids);
        color:$color-text;
}
[class^=grid__col]{
    @media screen and (min-width:$breakpoint-l) {
    }
}
.grid__row{
    ~.grid__row{  
        margin-top:40px;
        @media screen and (min-width:$breakpoint-l){
            margin-top:0;
        }
    }
    .centered{
        @media screen and (min-width:$breakpoint-l) {
            flex-grow: .5;
            margin: 0 auto;         
        }
    }
    @media screen and (min-width:$breakpoint-l){
        @include flexy($display:flex);
    }
}


@for $i from 1 through 12 {
    .grid__col--#{$i} {
        width: (70 * $i + 10 * ($i - 1))/950;
        @media(min-width: 768px) {
            width: percentage((70 * $i + 10 * ($i - 1))/950);
        }
    }
}
