 .img{
    &--logo{
       display: block;
       margin: 0 auto;
    }
    &--avatar,
    &--frame{
        width:200px;
        height:200px;
        align-self: center;
        margin:10px 0;
    }
    &--frame:first-child{
       border:1px solid lighten($color-text, 40%);
       padding:10px;
    }
}