.grid__row,ul{
    @media screen and (min-width: 769px){
       @include flexy($display:flex);
       ul{
           float:right;
       }
    }
    li{
        text-align: center;
            a{
            text-decoration: none;
            display: block;
            @include spacer($margin:5px, $padding:10px);
            color:$color-text;
            &:hover{
                background:$color-primary;
                color: $white;
                @include roundy(25px);
            }
        }
    }
}