.card{
    >p{
        text-align: left;
        line-height: 2em;
    }
    a{
       @extend %anchors; 
    }
}
.headline{
    &--primary{
        color:$color-primary;
    }
}
.blockquote{
    border-left:10px solid $color-primary;
    padding-left:10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 1.5em;
    font-size:1.3em;
}