.card{
    h1{

    }
    blockquote{
        @include blockquote($color-primary);
    }
    >p{
        text-align: left;
        line-height: 1.5em;
    }
    a{
       @extend %anchors; 
    }
}
.headline{
    &--primary{
        color:$color-primary;
    }
}