@import
'../utilites/variable',
'../utilites/mixins';

/* Base Styles */
body{
    font-family: $font-primary;
    @include spacer($margin:40px)
}

ul{
    list-style: none;
}
p{
    color:$color-text;
}
h4{
    font-weight: 100;
}